@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
/*HEADER STYLING*/
.rum-raisin-regular {
  font-family: "Rum Raisin", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-shadow: 3px 5px #005372;
}
header > h1 {
  text-align: center;
  color: #fff;
}
/*NAVIGATION BAR STYLING*/
.navbar {
  overflow: hidden;
  background-color: #005372;
  margin: 25px 50px 10px 50px;
}
.navbar a {
  
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: cadetblue;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*BODY*/
.container {
  width: 1000px;
  margin: 0 auto;
  background-color:red;
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    
}
.flex-container {
  display: flex;
  
  margin:auto;
  background-image: url("images/birdbackground.png");
  background-size: 100%
}
.section {
  display: flex;
    margin:auto;
}
.article {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: orange;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery img {
  width:350;
  height: auto;
}
.responsive {
  flex: 100%;
}
@media (max-width: 999px) {
  .container {

    margin: 0 auto;
  }
  .flex-responsive {
    flex: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /* phones */
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* portrait phones */
}
@media print {
  /*this is if you want a print version of your page. */
}
