@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
  margin: auto;
}
.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("images/bg.png");
  background-size: cover;
  color: white;
}
header {
  font-family: "Rum Raisin", sans-serif;
  font-size: 60px;
  font-style: normal;
  margin: auto;
  text-align: center;
}
h1 {
  text-align: center;
  color: rgba(0, 49, 62, 1.00);
  text-shadow: 2px 1px olive;
  font-size: 80px;
}
h2 {
  color: orangered;
  text-align: center;
}
h3 {
  color: darkolivegreen;
  text-align: center;
}
/*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/
.navbar {
  display: flex;
  padding: 10px;
  background-color: hsla(187, 100%, 14%, 1.00);
  width: 98%;
  
}
 

.nav-links {
  list-style: none;
  display: flex;
}
.nav-links li {
  margin: auto;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
.nav-links a:hover {
  color: hsla(16, 81%, 47%, 1.00);
}
/* END NAVIGATION*/
/*CONTACT FORM*/
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group label {
  margin-bottom: 5px;
}
.form-group input, .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/
.container {
  width: 90%;
  margin: auto;
  padding: 20px;
    font-size: 1.3em;
}
.flex-container {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: hsla(188, 100%, 12%, 0.80)
}
.section {
  padding: 10px;
  margin: auto;
  
}
/*END CONTAINERS*/
/*LANDING PAGE*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero img {
  width: 70vw;
  background-size: cover;
  margin: auto;
}
.hero-text {
  position: absolute;
  color: white;
}
/*GALLERY CSS*/
.gallery-container {
  overflow-x: auto;
  padding: 30px;
}
.gallery {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
.gallery img {
  height: auto;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.5);
  cursor: pointer;
}
@media (max-width: 700px) {
  .container, .flex-container {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .gallery img {
    max-width: 200px;
  }
}