@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: "Pompiere", sans-serif;
  text-align: center;
}
/* Typography */
header {
  font-family: "Rum Raisin", sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 20px 0;
}
h1 {
  text-align: center;
  text-shadow: 2px 1px olive;
  font-size: 80px;
  letter-spacing: 4px;
}
h2, h3 {
  text-align: center;
}
h2 {
  color: orangered;
}
h3 {
  color: darkolivegreen;
}
footer {
  align-content: center;
  font-size: 24px;
}
/* Navigation */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: hsla(187, 100%, 14%, 1);
  flex-wrap: wrap;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
.nav-links a:hover {
  color: hsla(16, 81%, 47%, 1);
}
/* Contact Form */
form{width:45%;
margin:auto;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: orangered;
}
input[type=submit] {
  background-color: lightblue;
  color: darkslategray;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: olive;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Containers */
.container {
  width: 90%;
  margin: auto;
  font-size: 1.3em;
}
.flex-container {
  display: flex;
  justify-content: center;
  background-color: hsla(187, 100%, 14%, 0.88);
  flex-wrap: wrap;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 90px;
}
.section {
  padding: 15px;
  width: 40%;
  margin: 0 auto;
}
.section img {
  
  width: 100%;
  height: auto;
}
.section p {
  max-width: 500px;
  font-size: 1.3em;
}
.section li {
  text-align: left;
}
/* Hero Section */
body.index-page, html.index-page {
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-containerhero {
  background-image: url("images/hero.png");
  background-size: cover;
  position: relative;
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Rum Raisin", sans-serif;
  letter-spacing: 2px;
}
.top {
  font-size: 6em;
  margin-top: 15px;
  font-family: "Rum Raisin", sans-serif;
}
.bottom {
  margin-bottom: 0;
}
.flex-containerhero p {
  order: -1;
  position: absolute;
  bottom: 0;
  font-size: 2em;
}
.flex-containerhero a {
  position: absolute;
  bottom: 150px; /* Adjust distance from bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 3em;
  background-color: hsla(16, 81%, 47%, 1.00);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}
.flex-containerhero a:hover {
  background-color: hsla(118, 15%, 46%, 1.00);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}
.flex-containerhero a:active {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
}

/* Gallery */
.gallery-container {
  overflow-x: auto;
  padding: 30px;
}
.gallery {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
.gallery img {
  height: auto;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.5);
  cursor: pointer;
}


/*MEDIA QUERIES*/
/* Desktop */


/* Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 85%;
  }
  .flex-container {
    flex-direction: row;
  }
  .section {
    width: 40%;
  }
}

/* Tablet Horizontal */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
  .flex-container {
    flex-direction: row;
  }
  .section {
    width: 45%;
  }
}

/* Tablet */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 95%;
  }
  .flex-container {
    flex-direction: column;
  }
  .section {
    width: 80%;
  }
}

/* Phone */
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  .flex-container {
    flex-direction: column;
  }
  .section {
    width: 100%;
  }
}

