@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  
  background-image: url("images/bg.png");
   background-size: cover;
    color:white;
   
    
     
}
header {
    
  font-family: "Rum Raisin", sans-serif;
  font-size: 60px;
  font-style: normal;
  margin: auto;
  text-align: center;
}
h1 {
  
  text-align: center;
  color: rgba(0, 49, 62, 1.00);
  text-shadow: 2px 1px olive;
  font-size: 80px;
}
h2 {
  color: orangered;
  text-align: center;
}
h3 {
  color: darkolivegreen;
  text-align: center;
}
/*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:hsla(194,100%,13%,1.00);
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}
ul.topnav li a:hover:not(.active) {
  background-color:hsla(17,100%,45%,1.00);
}
ul.topnav li a.active {
  background-color: olive;
}
/* END NAVIGATION*/

.button {
  background-color: #088F8F;
  color:white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  cursor: pointer;
}


/*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/
.container {
  width: 90%;
  margin: auto;
    padding:20px;
    
}
.flex-container {
width: 98%;
  display: flex;
  margin: auto;
    
}
.flex-section {
    margin:auto;
  width: 50%;
 height:50%;
    padding:5px 10px;
  font-size: 22px;
    background-color:hsla(187,100%,18%,0.95);
    
    
}



/*END CONTAINERS*/
/*GALLERY CSS*/
.row {
  margin: 20px;
  padding: 28px;
}
/* Add padding BETWEEN each column */
.row, .row > .column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Content */
.content {
  background-color: white;
  padding: 10px;
  margin: auto;
}

@media (max-width: 700px) {
  .container,.ul.topnav, .flex-container {   
    flex-direction: column;
  }
}