@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  background-image: url("images/birdbackground.png");
    background-size: cover;
    background-attachment: fixed;
    
}
header {
  margin: auto;
  text-align: center;
}
h1 {
  text-align: center;
  color: rgba(0, 49, 62, 1.00);
  text-shadow: 2px 1px olive;
  font-size: 60px;
}
h2 {
  color: orangered;
  text-align: center;
}
h3 {
  color: darkolivegreen;
  text-align: center;
}
/*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: cadetblue;
}
ul.topnav li a.active {
  background-color: olive;
}
/* END NAVIGATION*/


/*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/
.container {
  width: 100%;
  margin: auto;
}
.flex-container {
  width: 90%;
  display: flex;
  margin: auto;
}
.flex-section {
  width: 500px;
 height:500px;
  padding: 50px;
  font-size: 22px;
}
/*END CONTAINERS*/
/*GALLERY CSS*/
.row {
  margin: 20px;
  padding: 28px;
}
/* Add padding BETWEEN each column */
.row, .row > .column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Content */
.content {
  background-color: white;
  padding: 10px;
  margin: auto;
}
/* Responsive layout - makes a two column-layout instead of four columns */
/* tablets and desktop */
@media only screen and (min-width: 999px) {
  .container {}
}
@media only screen and (max-width: 768px) {
  .column {
    width: 50%;
  }
  .flex-container {
    flex-direction: column;
  }
  .flex-section {
    width: 90%;
    margin: auto;
  }
}
@media (max-width : 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}
.container {
  margin: 0 auto;
}
.column {
  width: 50%;
}

.flex-container {
    flex-direction: column;
  }
  .flex-section {
    width: 90%;
    margin: auto;
  }
@media print {
  /*this is if you want a print version of your page. */
}