@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
  margin: auto;
}
.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("images/bg.png");
  background-size: cover;
  color: white;
}
header {
  font-family: "Rum Raisin", sans-serif;
  font-size: 60px;
  font-style: normal;
  margin: auto;
  text-align: center;
}
h1 {
  text-align: center;
  color: rgba(0, 49, 62, 1.00);
  text-shadow: 2px 1px olive;
  font-size: 80px;
}
h2 {
  color: orangered;
  text-align: center;
}
h3 {
  color: darkolivegreen;
  text-align: center;
}
/*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/ /*NAVIGATION*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(187, 100%, 14%, 1.00);
  padding: 10px 20px;
  width: 90%;
}
.logo img {
  width: 50px;
}
.nav-links {
  list-style: none;
  display: flex;
}
.nav-links li {
  margin: auto;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-links a:hover {
  color: hsla(16, 81%, 47%, 1.00);
}
/* END NAVIGATION*/
/*CONTACT FORM*/
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group label {
  margin-bottom: 5px;
}
.form-group input, .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/ /*CONTAINERS*/
.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}
.flex-container {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: hsla(188, 100%, 12%, 0.80)
}
.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section {
  flex: 1 1 45%;
  margin: 20px 0;
}
/*END CONTAINERS*/
/*LANDING PAGE*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero img {
  width: 70vw;
  background-size: cover;
  margin: auto;
}
.hero-text {
  position: absolute;
  color: white;
}
/*GALLERY CSS*/
.row {
  margin: 20px;
  padding: 28px;
}
/* Add padding BETWEEN each column */
.row, .row > .column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Content */
.content {
  background-color: white;
  padding: 10px;
  margin: auto;
}
@media (max-width: 700px) {
  .container, .flex-container {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-links li {
    margin: 10px 0;
  }
}